<!doctype html>
{% autoescape true %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
  </head>
  <body>
    <h2>Games:</h2>
    <ul id="games"></ul>
    <input id="gamekey" type="text" placeholder="Game name"></input>
    <button id="gamebutton">Create game</button>

    <h2>
      Players:
      <button id="toggle">Toggle</button>
      <button id="assign">Assign Roles</button>
    </h2>

    <ul id="people" class="hid">
    {% for person in people %}
      <li>{{ person.name }} ( {{ person.role }} ) <a href="/ppl?player={{person.name}}" target="_blank">check data as this player</a>
    {% endfor %}
    </ul>
    
    <h2>Roles:</h2>
    <ul>
      {% for role in roles %}
      <li>{{ role.name }} {{ role.desc }}
      {% endfor %}
    </ul>
    
    <form action="/admin" method="post" style="margin-top:10px">
      <input type="hidden" name="del" value="1" />
      <input type="submit" value="Clear All Data" />
    </form>
 </html>
 </body>
 {% endautoescape %}